name: Update Rules

on:
  push:
    branches: [main]
    paths:
      - "source/**"
      - "conversion_to_sing-box.py"
      - ".github/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  process:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install pyyaml

          wget -qO- https://github.com/SagerNet/sing-box/releases/download/v1.11.15/sing-box-1.11.15-linux-amd64.tar.gz | tar -xz
          sudo install -m 0755 sing-box-1.11.15-linux-amd64/sing-box /usr/local/bin/sing-box

          # wget -qO- https://github.com/MetaCubeX/mihomo/releases/download/v1.19.17/mihomo-linux-amd64-v1-v1.19.17.gz | gunzip -d > mihomo
          # sudo install -m 0755 mihomo /usr/local/bin/mihomo

      - name: Create temporary directories
        run: |
          mkdir -p raw/sing-box raw/clash
          mkdir -p compile/sing-box compile/clash

      - name: Convert sing-box format
        run: python conversion_to_sing-box.py source raw/sing-box

      - name: Copy yaml to raw
        run: cp -r source/* raw/clash/

      - name: Compile JSON to SRS
        run: |
          chmod +x ./.github/compile_sing-box.sh
          ./.github/compile_sing-box.sh raw/sing-box compile/sing-box

      # - name: Compile YAML to MRS
      #   run: |
      #     chmod +x ./.github/compile_sing-box.sh
      #     ./.github/compile_clash.sh raw/clash compile/clash

      - name: Push raw branch
        run: |
          chmod +x ./.github/push_raw.sh
          ./.github/push_raw.sh

      - name: Push compile branch
        run: |
          chmod +x ./.github/push_compile.sh
          ./.github/push_compile.sh
